@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

html, body{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0%;  
}

div.geral{
    min-height:100%;
    position:relative;
    width:100%;
}
/* HEADER */

header{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header div.container{
    background-color: #00796B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.container div.logo{
    display: flex;
    align-items: center;
    width: 199px;
    height: 83px;
    padding-left: 41px;
}

header div.container div.paginas{
    display: flex;
    margin-right: 20px;
}

header div.container div.paginas nav a{
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    padding-right: 28px;
    letter-spacing: 0.5px;
    background: none;
    color: #FFFFFF;
}

/* Conteúdo */
main{
    width: 100%; 
    max-height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
}

main div.imagem{
    width: 700px;
    max-width: 100%;
    height: 443px;  
    display: inline-block;
}

main div.texto{
    width: 500px;
    height: 100%px;
    display: inline-block;
    margin-bottom: 100px;
}

main div.texto h1{ 
    color:#009688;
    font-weight: 800;
    font-size: 40px;
}

main
 div.texto article{
    color: #9B9B9B;
    font-size: 20px;
}

/* FOOTER */

footer{
    background-color: #C4C4C4;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:0;
    width:100%;
    height: 94px;
}

footer div.copyright{
    position: absolute;
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 0.5px;
}